<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>-->
  <appSettings>    
    <add key="NewsLetterFilePath" value="C:\email\pup.htm"/>
    <add key="RecipientEmailsFilePath" value="C:\email\email5.txt"/>
    <add key="UnsubscribedEmailsFilePath" value="C:\email\unsubscribed.txt"/>
    <add key="ValidSubscribedRecipientsFilePath" value="C:\email\FinalEmailList.txt"/>
    <add key="LogFilePath" value="C:\email\pup_log.txt"/>
    <add key="SmtpHost" value="news5.palmerunitednews.com.au"/>
    <add key="SenderEmailAddress" value="Clive.Palmer@news5.palmerpartynews.com.au"/>
    <add key="MailSubject" value="A Message From Clive Palmer"/>
  </appSettings>
</configuration>